html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.feature-card {
  margin-top: 30px;
  background-color: red;
}
.feature-card .card {
  background: #fff;
  padding: 18px;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  border: none;
}
.feature-card .card-body {
  padding: 0;
}
