.innerHeading {
  background: url(../../assets/innerHeading.jpg);
  padding: 40px 0;
  background-size: cover;
  text-align: center;
}
.innerHeading h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}
.innerContent {
  padding: 60px 0;
}
.faqs {
  margin-bottom: 30px;
}

.panel_heading {
  cursor: pointer;
  background: none;
  border: none;
  display: block;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 15px;
  font-size: 18px;
  color: #666666;
  position: relative;
}
.panel_group h3 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.panel {
  border-radius: 0;
  margin-bottom: 20px;
  border: 1px solid #eee;
}
.panel:hover .panel_heading {
  color: white;
}
.panel:hover .panel_head {
  background-color: #ffb900;
}
.panel_body {
  line-height: 24px;
  color: #555;
  padding:  15px;
  font-size: 14px;
}
.active .panel_heading {
  background-color: #ffb900;
  color: white;
}
.active .panel_heading::before {
  background-color: #fff;
}

.faqs h4:before {
  content: "\f068";
  background: #ffb900;
  font-family: "FontAwesome";
  width: 30px;
  padding: 6px 0;
  color: #ffb900;
  position: absolute;
  right: 15px;
  top: 11px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  line-height: 18px;
  border-radius: 50%;
}
.panel:hover .panel_heading:before {
  background: #fff;
}

.loginWrp {
  max-width: 400px;
}
.btn-facebook {
  background-color: #3b5999;
  border-radius: 0;
  padding: 12px 0;
}
.login_btn {
  background: #000;
  border-color: #000;
  border-radius: 0;
}
.login_btn:hover {
  background: #ffb900;
  border-color: #ffb900;
}
.forgot_text {
  font-size: 14px;
}
.google_plus {
  background: #d54b3d;
  border-color: #d54b3d;
  border-radius: 0;
  padding: 12px 0;
}
.google_plus:hover {
  background: #ce4234;
  border-color: #ce4234;
}
.loginWrp .form-control {
  height: 48px;
  border-radius: 0;
  font-size: 14px;
}
.loginWrp .login_btn {
  height: 48px;
  text-transform: uppercase;
  font-weight: bold;
}
