.image_wrap {
  padding: 70px 0 80px 0;
}
.video_wrap {
  padding: 70px 0 80px 0;
  height: 600px;
  overflow: hidden;
}
.map_wrap {
  background-color: #41444c;
}
.slider_background {
  top: 0;
  left: 0;
}
.map_form {
  padding: 30px 0;
}

.sliderTxt h1 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
}
.sliderTxt p {
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}
.sliderTxt nav a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 0;
}
.sliderTxt nav {
  border-bottom: 1px solid transparent;
}

/* .sliderTxt nav a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #fff;
} */
.inputs input {
  border: none;
  font-size: 14px;
  border-radius: 0 !important;
  height: 48px;
}
.inputs select {
  border: none;
  font-size: 14px;
  border-radius: 0 !important;
  height: 48px;
}
.form_wrap {
  background: rgba(255, 255, 255, 0.14);
  padding: 25px;
}
.form_group {
  margin-bottom: 6px;
}
.inputs button {
  background: #ffb900;
  border: none;
  cursor: pointer;
  padding: 13px 0px 12px 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  border-radius: 0;
  font-weight: bold;
  height: 48px;
}
.inputs button:hover {
  background: #000;
  color: #fff;
}
.slide_caption {
  height: fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  text-align: center;
  transform: translate(-50%, -50%);
}
.slide_title {
  font-size: 72px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-shadow: 3px 4px 5px rgb(0 0 0 / 30%);
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}
.slide_description {
  text-shadow: 3px 4px 5px rgb(0 0 0 / 30%);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 20px 0 28px 0;
  line-height: 32px;
}
.slide_btn {
  padding: 18px 42px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  border-radius: 0;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  outline: none;
  border: none;
}
.slide_btn:hover {
  background-color: #ffb900;
  color: #fff;
  transition: 0.3s all ease-in-out;
}
.carousel-control-next {
  padding: 40px;
  background-color: red;
}
